{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

<!-- HEADER TEXT BLOCK START -->
{% block header_text %}

{% endblock header_text %}
<!-- HEADER TEXT BLOCK END -->

<!-- HEADER POSTER START -->
{% block header_poster %}

{% endblock header_poster %}
<!-- HEADER POSTER END -->


{% block main %}
<main>
    <section class="product_detail">
        <div class="container">
            <div class="row">
                {% include 'store/components/_product_slider.html' %}

                {% include 'store/components/_product_info.html' %}

            </div>
        </div>
    </section>
    {% include 'store/components/_brand_info.html' %}

    {% include 'store/components/_reviews.html' %}
    {% if request.user.is_authenticated %}
    {% include 'store/components/_review_form.html' %}
    {% else %}

        <div class="container d-flex justify-content-center">
        <h4>
            Отзыв могут оставлять толь зарегистрированные пользователи !
        </h4>
        <a href="{% url 'register' %}">
            <h4>
                Зарегистрироваться
            </h4>
        </a>
    </div>
    {% endif %}

    {% include 'store/components/_recommendations.html' %}



    <!-- BLOCK EMAIL FORM START -->
    {% include 'store/components/_email_form.html' %}
    <!-- BLOCK EMAIL FORM END -->
</main>
{% endblock main %}